.hocwp.post-box .post-row {
    display: flex;
}

.hocwp.post-box .btn-discover-more {
    position: relative;
    border: 3px solid #fff;
    background: linear-gradient(to right, #064b98, #3bb8e7);
    background-clip: padding-box;
    box-shadow: 0 3px 2px 0 rgba(12, 12, 12, 0.27);
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 16px;
    color: #ffffff;
    min-width: 120px;
    text-align: center;
    display: inline-block;
}

.hocwp.post-box .btn-discover-more {
    margin: 10px auto 20px auto;
}

.hocwp.post-box .post-row > .post-item {
    padding: 0 10px;
    margin-bottom: 15px;
    position: relative;
}

.hocwp.post-box .post-detail {
    text-align: center;
    margin-bottom: 0;
}

.hocwp.post-box .post-detail {
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transform: translate(0%, 200%) translateZ(0);
    -moz-transform: translate(0%, 200%) translateZ(0);
    -webkit-transform: translate(0%, 200%) translateZ(0);
    -o-transform: translate(0%, 200%) translateZ(0);
    -ms-transform: translate(0%, 200%) translateZ(0);
    opacity: 0;
}

.hocwp.post-box .post-row > .post-item:hover .post-detail {
    transform: translate(0%, 0%) translateZ(0);
    -moz-transform: translate(0%, 0%) translateZ(0);
    -webkit-transform: translate(0%, 0%) translateZ(0);
    -o-transform: translate(0%, 0%) translateZ(0);
    -ms-transform: translate(0%, 0%) translateZ(0);
    opacity: 1;
}

.hocwp.post-box .post-row > .post-item .post-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    background: red;
    background: linear-gradient(rgba(255, 255, 255, 0), #f8f8f8, #e8e8e8, #d9d9d9, #cfcfcf);
    transform: translate(0%, 100%) translateZ(0);
    -moz-transform: translate(0%, 100%) translateZ(0);
    -webkit-transform: translate(0%, 100%) translateZ(0);
    -o-transform: translate(0%, 100%) translateZ(0);
    -ms-transform: translate(0%, 100%) translateZ(0);
    z-index: -1;
    opacity: 0;
    box-sizing: border-box;
    right: 0;
    top: 0;
    left: 0;
}

.hocwp.post-box .post-row > .post-item:hover .post-bg {
    transform: translate(0%, 0%) translateZ(0);
    -moz-transform: translate(0%, 0%) translateZ(0);
    -webkit-transform: translate(0%, 0%) translateZ(0);
    -o-transform: translate(0%, 0%) translateZ(0);
    -ms-transform: translate(0%, 0%) translateZ(0);
    opacity: 1;
}

.hocwp.post-box .post-item .post-inner {

}

.hocwp.post-box .post-item .wp-post-image {
    display: block;
    margin: 0 auto;
}

.hocwp.post-box .post-item .post-name {
    margin-top: 10px;
}

.post-box .post-price {
    margin-top: 10px;
    color: #f00;
}